table {
    width: 100%;
    border: 1px solid #999;
    text-align: left;
    border-collapse: collapse;
    margin: 0 0 1em 0;
  }
  
  caption,
  td,
  th {
    padding: 0.4em;
  }
  
  th,
  td {
    border-bottom: 1px solid #999;
    width: 5%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  caption {
    font-weight: bold;
    font-style: italic;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  }
  
  .table-container {
    overflow-x: auto;
    border-radius: 10px;
    padding: 12px;
    width: 1300px;
    -webkit-box-shadow: 1px 11px 43px -40px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 11px 43px -40px rgba(0,0,0,0.75);
    box-shadow: 1px 11px 43px -40px rgba(0,0,0,0.75);
  }
  